{% extends "base.html" %}

{% block content %}
{%- for flash in flashes %}
<p><i>{{ flash }}</i></p>
{%- endfor %}

<form action="/admin/password" method="post">
    <label>
        {{ current_password_label }}
        <input type="password" placeholder="{{ current_password_placeholder }}" name="current_password">
    </label>
    <br>
    <label>
        {{ new_password_label }}
        <input type="password" placeholder="{{ new_password_placeholder }}" name="new_password">
    </label>
    <br>
    <label>
        {{ new_password_check_label }}
        <input type="password" placeholder="{{ new_password_check_placeholder }}" name="new_password_check">
    </label>
    <br>
    <button type="submit">{{ change_password_button }}</button>
</form>
<p><a href="/admin/dashboard">&lt;- {{ back_link }}</a></p>
{% endblock %}
