{% extends "base.html" %}

{% block page_content %}
{%- for flash in flashes %}
<p><i>{{ flash }}</i></p>
{%- endfor %}

<form action="/admin/newsletters" method="post">
    <label>
        {{ title_label }}<br>
        <input type="text" placeholder="{{ title_placeholder }}" name="title" required>
    </label>
    <br>
    <br>
    <label>
        {{ html_content_label }}<br>
        <textarea placeholder="{{ html_content_placeholder }}" rows="20" cols="100" name="html_content"
            required></textarea>
    </label>
    <br>
    <br>
    <label>
        {{ text_content_label }}<br>
        <textarea type="text" placeholder="{{ text_content_placeholder }}" rows="20" cols="100"
            name="text_content" required></textarea>
    </label>
    <br>
    <br>
    <input type="text" name="idempotency_key" value="{{ idempotency_key }}" hidden>
    <button type="submit">{{ send_newsletter_button }}</button>
</form>
<p><a href="/admin/dashboard">&lt;- {{ back_link }}</a></p>
{% endblock %}
